{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "keepClassNames": true,
    "target": "es2022",
    "transform": {
      "decoratorMetadata": true
    },
    "baseUrl": "./"
    // "paths": {
    //   "@libs/common-nest": ["libs/common-nest/src/index.ts"],
    //   "@libs/auth-nest": ["libs/auth-nest/src/index.ts"]
    // }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}
