{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "keepClassNames": true,
    "target": "es2022",
    "transform": {
      "decoratorMetadata": true
    },
    "paths": {
      "@libs/auth/*": ["libs/auth/src/*"]
    },
    "baseUrl": "./"
  },
  "module": {
    "type": "es6"
  },
  "sourceMaps": true
}
